Install relevant libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [14]:
import os
#print(os.getcwd())

Import dataset

In [21]:
import pandas as pd
import os

# Using a raw string for the file path
file_path = r'C:\Users\gurmo\Downloads\LHL_Final_Capstone_Project\data\credit_card_india.csv'

# Check if the file exists
if os.path.exists(file_path):
    df = pd.read_csv(file_path)
else:
    print("File not found:", file_path)

In [22]:
df.head()

   index                   City       Date  Card Type Exp Type Gender  Amount
0      0           Delhi, India  29-Oct-14       Gold    Bills      F   82475
1      1  Greater Mumbai, India  22-Aug-14   Platinum    Bills      F   32555
2      2       Bengaluru, India  27-Aug-14     Silver    Bills      F  101738
3      3  Greater Mumbai, India  12-Apr-14  Signature    Bills      F  123424
4      4       Bengaluru, India   5-May-15       Gold    Bills      F  171574

Understanding the data

In [24]:
df.shape

(26052, 7)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26052 entries, 0 to 26051
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   index      26052 non-null  int64
 1   City       26052 non-null  object
 2   Date       26052 non-null  object
 3   Card Type  26052 non-null  object
 4   Exp Type   26052 non-null  object
 5   Gender     26052 non-null  object
 6   Amount     26052 non-null  int64
dtypes: int64(2), object(5)
memory usage: 1.4+ MB

More details about data

In [26]:
Card_Type = df['Card Type'].unique()
print('Card Types = ', Card_Type)
Exp_Type = df['Exp Type'].unique()
print('Expense Types = ', Exp_Type)
City = len(df['City'].unique())
print('Cities = ', City)

Card Types =  ['Gold' 'Platinum' 'Silver' 'Signature']
Expense Types =  ['Bills' 'Food' 'Entertainment' 'Grocery' 'Fuel' 'Travel']
Cities =  986

Duplicate and null values

In [28]:
df.duplicated().sum()

0

In [30]:
df.isnull().sum()

index        0
City         0
Date         0
Card Type    0
Exp Type     0
Gender       0
Amount       0
dtype: int64

Data conversion

In [27]:
df["Date"]=pd.to_datetime(df["Date"])
df.dtypes

index                 int64
City                 object
Date         datetime64[ns]
Card Type            object
Exp Type             object
Gender               object
Amount                int64
dtype: object