Install relevant libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [14]:
import os
#print(os.getcwd())

Import dataset

In [21]:
import pandas as pd
import os

# Using a raw string for the file path
file_path = r'C:\Users\gurmo\Downloads\LHL_Final_Capstone_Project\data\credit_card_india.csv'

# Check if the file exists
if os.path.exists(file_path):
    df = pd.read_csv(file_path)
else:
    print("File not found:", file_path)

In [22]:
df.head()

   index                   City       Date  Card Type Exp Type Gender  Amount
0      0           Delhi, India  29-Oct-14       Gold    Bills      F   82475
1      1  Greater Mumbai, India  22-Aug-14   Platinum    Bills      F   32555
2      2       Bengaluru, India  27-Aug-14     Silver    Bills      F  101738
3      3  Greater Mumbai, India  12-Apr-14  Signature    Bills      F  123424
4      4       Bengaluru, India   5-May-15       Gold    Bills      F  171574